.section {
  box-shadow: 0 -4px 40px $shadow;
  height: 70vh;
  position: relative;
  text-align: center;
  width: 100%;

  &::after {
    background-color: $off-black;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .8s ease;
    visibility: hidden;
    width: 100%;
  }
}

.section-inner {
  height: 100%;
  width: 100%;
}

.fixed {
  z-index: -1;

  .section-inner {
    left: 0;
    position: fixed;
    top: 0;
  }

  &::after {
    opacity: .7;
    visibility: visible;
  }
}

.intro,
.footer {
  background-color: $pale-blue;

  h1,
  h2 {
    color: $off-black;
  }
}

.code {
  background-color: $dark;
}

.photos {
  background-color: $green;
}

.music {
  background-color: $off-black;
}
